body{
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common{
    /*background-color: #cccccc; */
    border: 2px solid white;
    position: absolute;

}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

.leftmenu{
    top: 114px;
    left: 5px;
    bottom: 39px;   
    width: 100px;
    z-index: 1;
    border-right: solid 1px #555555;
}

.mainbody {
    top: 114px;
    left: 114px;
    bottom: 39px;
    right: 185px;  /* CHANGED: Increased from 114px to 185px to make room */
    overflow: auto; 
    padding-right: 5px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    bottom: 39px;
    width: 170px;  /* CHANGED: Increased from 100px to 170px */
    border-left: solid 1px #555555;
    padding-left: 5px;
    overflow: auto; /* Good to keep this just in case */
}

.footer {

    left: 5px;
    right: 5px;     
    bottom: 5px;    
    height: 25px;
    font-size: 8px;
    color: gray;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
    
